// 関数読み込み
@use "../base/function" as *;

// 定数読み込み
@use "../base/const" as *; 
/*--------------------ボタン--------------------*/
button {
	appearance: none;
	background: none;
	border: none;
}
.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--light-gray);
	border-radius: 100vw;
	width: 100%;
	max-width: 28rem;
	margin: auto;
	min-height: 5.5rem;
	padding: 0.2rem;
	font-family: var(--main-font);
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	transform: rotateZ(0deg);
}
:root{
	--disabled_bg: var(--light-gray);
	--disabled_box-shadow: inset 0 0 0 0.2rem var(--light-gray), inset 0 0 0 0.3rem #fff;
}
.button:disabled{
	background-color: var(--disabled_bg);
}
.bt_next::after {
	position: absolute;
	font-family: var(--ms);
	content: "\e5cc";
	font-size: 2.5rem;
	font-variation-settings: 'wght' 300;
	right: 1rem;
}
.bt_back{
	background-color: var(--main-color);
	color: var(--white);
	width: fit-content;
	min-width: 18.0rem;
	min-height: auto;
	padding: 0.6rem 2.5rem;
	font-size: 1.6rem;
}
/* .bt_back::before {
	position: absolute;
	font-family: var(--ms);
	content: "\e5cb";
	font-size: 2.5rem;
	font-variation-settings: 'wght' 300;
	left: 1rem;
} */
.bt_sumi{
	background-color: var(--middle-gray);
	color: #ddd;
}
.button[target="_blank"]::after,
.button[target="_new"]::after {
	position: absolute;
	font-family: var(--ms);
	content: "\e89e";
	font-weight: 300;
	font-size: 2.5rem;
	right: 1.5rem;
}
.bt_copy::after {
	position: absolute;
	font-family: var(--ms);
	content: "\e14d";
	font-weight: 200;
	font-size: 2.5rem;
	right: 1rem;
}
.bt_checkin::after {
	position: relative;
	font-family: var(--ms);
	content: "\e569";
	font-variation-settings: 'FILL' 1;
	font-weight: 500;
	font-size: 2.0rem;
	margin-left: 1rem;
}

/*--------------------色--------------------*/
.red {
	color: var(--red);
}
.bt_cookie,
.bt_submit,
.bg_red{
	background-color: var(--red);
}
.bg_blue{
	background-color: var(--blue);
}
.bg_green{
	background-color: var(--green);
}
.bg_orange{
	background-color: var(--orange);
}


